@CHARSET "UTF-8";

.centrado-porcentual {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.circular-image {
  border-radius:  50%;
  width: 200%;
}