@CHARSET "UTF-8";

<style>
	table {
		background-color: pink;
		font-family: "Arial";
	}
	
	.tablaAmarilla {
		background-color: yellow;
	}
	
	.listeningOn {
		color: green;
	}
	
	.listeningOff {
		color: red;
	}
</style>